@tailwind base;
@tailwind components;
@tailwind utilities;

/*css*/

.active {
    position: relative;
    overflow: hidden;
}

.active span:nth-child(2) {
    transform: translate(150%);
    transition: transform 0.3s;
}

.active span:first-child {
    transform: rotate(45deg);
    transition: transform 0.3s;
    position: absolute;
    right: 0;
    top: 10px;
}

.active span:last-child {
    transform: rotate(-45deg);
    transition: transform 0.3s;
    position: absolute;
    right: 0;
    top: 10px;
}